<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/createCard_styles.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
  <div>
    <h1>testing</h1>
  </div>
  <div>
    <form action="homepage.ejs" method="get">
      <input type="text" id="name" name="name" value="Your Full Name"><br>
      <input type="text" id="about" name="about" value="About Me"><br>
      <label for="tech">Technologies you Know:</label><br>
      <input type="checkbox" id="techa" name="techa" value="HTML"><label for="techa">HTML</label>
      <input type="checkbox" id="techb" name="techb" value="CSS"><label for="techb">CSS</label><br>
      <input type="checkbox" id="techc" name="techc" value="JS"><label for="techc">JS</label>
      <input type="checkbox" id="techd" name="techd" value="Git"><label for="techd">Git</label><br>
      <input type="checkbox" id="teche" name="teche" value="React"><label for="teche">React</label>
      <input type="checkbox" id="techf" name="techf" value="Node.js"><label for="techf">Node.js</label><br>
      <label for="lname">Github URL:</label><br>
      <input type="text" id="git" name="git" value="Doe"><br>
      <label for="lname">Twitter URL:</label><br>
      <input type="text" id="twitter" name="twitter" value="Doe"><br>
      <label for="lname">Favourite Books(Separate by comma)</label><br>
      <input type="text" id="books" name="books" value="Doe"><br>
      <label for="lname">Favourite Artists(Separate by comma)</label><br>
      <input type="text" id="artists" name="artists" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div> 
  </body>
</html>
